@model ModelValidation.Models.Appointment

@{
    ViewBag.Title = "Make a Booking";
}

<h4>Book an appointment</h4>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>@Html.ValidationMessageFor(m => m.ClientName)</p>
    <p>Your Name: @Html.EditorFor(a => a.ClientName)</p>
    <p>@Html.ValidationMessageFor(m => m.Date)</p>
    <p>Appointment Date: @Html.EditorFor(m => m.Date)</p>
    <p>@Html.ValidationMessageFor(m => m.TermsAccepted)</p>
    <p>@Html.EditorFor(m => m.TermsAccepted) I accept the terms and conditions</p>
    <input type="submit" value="make booking" />
}